:root {
  --size: 320px;
}
.heart {
  background: red;
  width: var(--size);
  height: var(--size);
  transform: rotate(45deg);
  margin: calc(var(--size) / 2) auto 0;
}
.heart::before,
.heart::after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
  position: absolute;
  content: "";
}

.heart::before {
  top: 0;
  left: -50%;
}
.heart::after {
  top: -50%;
  right: 0;
}
