:root {
  --width: 630px;
  --height: 250px;
  --border-radius: 40px;
  --gap: 40px;
  --red: #fe4b3c;
  --blue: #03b9e2;
  --dark: #191c30;

  --heart-size: 60px;
  --button-size: 45px;
  --minor-size: 19px;
  --left-extra-button-size: 17px;
  --right-extra-button-size: 21px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.heart-wrapper {
  position: relative;
  width: var(--heart-size);
  height: var(--heart-size);
}
.heart {
  width: var(--heart-size);
  height: var(--heart-size);
  transform: rotate(45deg);
  background: var(--red);
  border-bottom-right-radius: calc(var(--heart-size) / 8);
}
.heart::before,
.heart::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background: var(--red);
}
.heart::before {
  left: -50%;
}
.heart::after {
  top: -50%;
}

.nintendo-left,
.nintendo-right {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
}
.nintendo-left {
  background: var(--blue);
  left: calc(-1 * var(--gap));
  top: -5px;
}
.nintendo-right {
  background: var(--red);
  right: calc(-1 * var(--gap));
  bottom: -5px;
}
.nintendo {
  position: relative;
  margin: 20px auto;
  width: var(--width);
  height: var(--height);
}
.intersection-left {
  position: absolute;
  top: -10px;
  width: 100%;
  left: calc(-1 * var(--gap));
  height: calc(100%);
  background: var(--dark);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.intersection-right {
  overflow: hidden;
  top: 5px;
  width: calc(100% - var(--gap));
  height: 100%;
  position: relative;
  right: calc(-1 * var(--gap));
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.major-button {
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  background: var(--dark);
  position: absolute;
}
.nintendo-left > .major-button {
  top: 40px;
  left: 20px;
}
.nintendo-right > .major-button {
  right: 20px;
  top: 105px;
}

.minor-buttons {
  width: var(--minor-size);
  height: var(--minor-size);
  background: var(--dark);
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--dark) var(--minor-size) var(--minor-size) 0 0,
    var(--dark) calc(var(--minor-size) * -1) var(--minor-size) 0 0,
    var(--dark) 0 calc(var(--minor-size) * 2) 0 0;
}

.nintendo-right > .minor-buttons {
  right: 32px;
  top: 30px;
}

.nintendo-left > .minor-buttons {
  top: 110px;
  left: 32px;
}

.extra-button {
  background: var(--dark);
  position: absolute;
}
.nintendo-left > .extra-button {
  width: var(--left-extra-button-size);
  height: var(--left-extra-button-size);
  border-radius: 4px;
  left: 52px;
  top: 180px;
}

.nintendo-right > .extra-button {
  width: var(--right-extra-button-size);
  height: var(--right-extra-button-size);
  border-radius: 50%;
  right: 49px;
  top: 170px;
}
