:root {
  --bg-color: #084897;
  --size: 400px;
  --cut-size: calc(var(--size) / 8);
  --shadow-size: 6px;
  --shadow-color: #f9b131;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}
.stamp {
  width: var(--size);
  height: var(--size);
  position: relative;
  background-color: white;
  color: white;
  filter: drop-shadow(var(--shadow-color) var(--shadow-size) var(--shadow-size))
    drop-shadow(#444 0 0 20px);
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
        transparent 0,
        transparent 50%,
        white 50%,
        white 100%
      )
      calc(-0.5 * var(--cut-size)) calc(-0.5 * var(--cut-size)) /
      var(--cut-size) var(--cut-size),
    linear-gradient(0deg, white 0, white 100%) center center /
      calc(var(--size) - var(--cut-size)) calc(var(--size) - var(--cut-size))
      no-repeat;
}

.inner {
  background: url(https://avatars1.githubusercontent.com/u/16744126?s=200&v=4)
    bottom right no-repeat;
  width: calc(100% - 1.5 * var(--cut-size));
  height: calc(100% - 1.5 * var(--cut-size));
}
