:root {
  --width: 610px;
  --height: 270px;
  --border-radius: 40px;
  --gap: 45px;
  --red: #fe4b3c;
  --blue: #03b9e2;
  --dark: #191c30;

  --heart-size: 120px;
  --major-size: 45px;
  --major-button-position-horizontal: 25px;
  --minor-size: 21px;
  --minor-button-position: 35px;
  --left-extra-button-size: 17px;
  --right-extra-button-size: 21px;
  --extra-button-position-horizontal: 60px;
  --extra-button-position-vertical: 175px;
  --minus-length: 17px;
  --minus-thick: 6px;
  --minus-radius: 2px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.heart-wrapper {
  position: relative;
  width: var(--heart-size);
  height: var(--heart-size);
}
.heart {
  fill: var(--red);
  width: var(--heart-size);
  height: var(--heart-size);
}

.nintendo-left,
.nintendo-right {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
}
.nintendo-left {
  background: var(--blue);
  left: calc(-1 * var(--gap));
  top: -5px;
}
.nintendo-right {
  background: var(--red);
  right: calc(-1 * var(--gap));
  bottom: -5px;
}
.nintendo {
  position: relative;
  margin: 40px auto;
  width: var(--width);
  height: var(--height);
}
.intersection-left {
  position: absolute;
  top: -10px;
  width: 100%;
  left: calc(-1 * var(--gap));
  height: calc(100%);
  background: var(--dark);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.intersection-right {
  overflow: hidden;
  top: 5px;
  width: calc(100% - var(--gap));
  height: 100%;
  position: relative;
  right: calc(-1 * var(--gap));
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.major-button {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 0 1px;
  width: var(--major-size);
  height: var(--major-size);
  background: var(--dark);
  position: absolute;
}
.nintendo-left > .major-button {
  top: 45px;
  left: var(--major-button-position-horizontal);
}
.nintendo-right > .major-button {
  right: var(--major-button-position-horizontal);
  top: 115px;
}

.minor-buttons {
  width: var(--minor-size);
  height: var(--minor-size);
  background: var(--dark);
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--dark) var(--minor-size) var(--minor-size) 0 0,
    var(--dark) calc(var(--minor-size) * -1) var(--minor-size) 0 0,
    var(--dark) 0 calc(var(--minor-size) * 2) 0 0;
}

.nintendo-right > .minor-buttons {
  right: var(--minor-button-position);
  top: 30px;
}

.nintendo-left > .minor-buttons {
  top: 110px;
  left: var(--minor-button-position);
}

.extra-button {
  background: var(--dark);
  position: absolute;
}
.nintendo-left > .extra-button {
  width: var(--left-extra-button-size);
  height: var(--left-extra-button-size);
  border-radius: 4px;
  left: var(--extra-button-position-horizontal);
  top: calc(var(--extra-button-position-vertical) + 10px);
}

.nintendo-right > .extra-button {
  width: var(--right-extra-button-size);
  height: var(--right-extra-button-size);
  border-radius: 50%;
  right: var(--extra-button-position-horizontal);
  top: calc(var(--extra-button-position-vertical));
}

.minus-button {
  width: var(--minus-length);
  height: var(--minus-thick);
  border-radius: var(--minus-radius);
  position: absolute;
  background: var(--dark);
}
.nintendo-left > .minus-button {
  left: 66px;
  top: 25px;
}

.nintendo-right > .plus-button {
  right: 85px;
  top: 17px;
  position: absolute;
}
.nintendo-right > .plus-button > .minus-button:nth-child(2) {
  transform: rotate(90deg);
}
