:root {
  --dark: #282828;
  --light-grey: rgb(240, 240, 239);
  --grey: #cfcfcf;
  --brown: #635547;
  --highlight: #fcfcfc;
  --red: #b64b3e;
  --green: #1f9665;
  --blue: #3c3fa0;
  --casing-size: 40px;
  --decor-size: 45px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: white;
  transform: rotate(-180deg);
  writing-mode: tb;
  font-family: sans-serif;
  text-transform: capitalize;
  margin: 0;
}

.outer-grid {
  display: grid;
  width: 800px;
  height: 600px;
  grid-template-areas:
    "left top-right"
    "left bottom-right";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 3fr;
}

.left {
  background: var(--dark);
  grid-area: left;
  display: grid;
  grid-template-areas:
    ". ."
    ". content"
    ". .";
  grid-template-columns: var(--casing-size) 1fr;
  grid-template-rows: var(--casing-size) 1fr var(--casing-size);
}

.main {
  grid-area: content;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main > h1 {
  font-size: 6rem;
}

.top-right {
  grid-area: top-right;
  background: var(--light-grey);
  display: grid;
  grid-template-areas:
    ". ."
    "secondary .";
  grid-template-columns: 1fr var(--casing-size);
  grid-template-rows: var(--casing-size) 1fr;
}

.secondary {
  grid-area: secondary;
  background: var(--brown);
  position: relative;
}
.secondary > h2 {
  padding: 0;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.decor {
  width: var(--decor-size);
  height: var(--decor-size);
  border-radius: 50%;
  position: absolute;
  left: 25px;
  bottom: 25px;
  background: var(--highlight);
  box-shadow: var(--highlight) 0 calc(-1 * (10px + var(--decor-size))) 0 0,
    var(--highlight) 0 calc(-2 * (10px + var(--decor-size))) 0 0;
}

.bottom-right {
  grid-area: bottom-right;
  background: var(--grey);
  display: grid;
  grid-template-areas:
    "highlight ."
    ". .";
  grid-template-columns: 1fr var(--casing-size);
  grid-template-rows: 1fr var(--casing-size);
}

.highlight {
  background: var(--highlight);
  display: grid;
  grid-template-areas:
    "content content"
    "prev next";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 2fr;
}
.content {
  grid-area: content;
}
.prev::before,
.next::before {
  position: absolute;
  top: 70%;
  font-family: sans-serif;
  font-size: 6px;
  font-weight: 800;
  text-transform: capitalize;
}
.prev {
  grid-area: prev;
  background: var(--highlight);
  position: relative;
}
.prev::before {
  content: "prev";
  left: 20%;
}
.next {
  grid-area: next;
  background: var(--light-grey);
  position: relative;
}
.next::before {
  content: "next";
  right: 20%;
}
