.footer {
  position: fixed;
  bottom: 0;
  padding: 2rem 0 0.5rem;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    white 70%
  );
  width: 100vw;
}

.footer-text {
  font-family: Coiny, cursive;
}

.content {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 455px) {
  .content {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
  .content a {
    align-self: flex-end;
  }
}
.content a {
  border-bottom: unset;
  padding-bottom: unset;
}
.content img {
  height: 2rem;
  margin: 0 1rem;
}
.content a:hover {
  background: transparent;
}
