.footer {
  position: fixed;
  width: 80%;
  left: 10%;
  bottom: 0;
  padding-bottom: 1rem;
  background-image: linear-gradient(to bottom, transparent 0, white 100%);
}

.content {
  display: flex;
  align-items: center;
}
.content a {
  border-bottom: unset;
  padding-bottom: unset;
}
.content img {
  height: 2rem;
  margin-bottom: 0;
}
