:root {
  --size: 160px;
  --border: 7px;
  --color: red;
  --border-color: rgba(255, 0, 0, 0.2);
}
.heart {
  background: var(--color);
  width: var(--size);
  height: var(--size);
  position: relative;
  transform: rotate(45deg);
  margin: 300px auto 0;
  border-bottom-right-radius: 10px;
}
.heart::before,
.heart::after {
  background-color: inherit;
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.heart::before {
  left: -50%;
}
.heart::after {
  top: -50%;
}
.sunglasses-wrapper {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  transform: rotate(-29deg) scale(1.2) translateY(-21px);
}

.one-glass {
  width: 70px;
  height: 35px;
  background: black;
  background-image: linear-gradient(
    105deg,
    black 0,
    black 60%,
    white 0,
    white 70%,
    black 0,
    black 100%
  );
  border-radius: 15% / 22%;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
}

.nose {
  width: 10px;
  height: 5px;
  background: black;
  border-radius: 5% / 50%;
  top: 5px;
  position: relative;
}
