:root {
  --size: 400px;
  --border: 7px;
  --color: #ed5d52;
}
.heart__wrapper {
  background: var(--color);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 240px auto 0;
}
.heart {
  top: 40%;
  left: 35%;
  width: 30%;
  height: 30%;
  background: white;
  transform: rotate(45deg);
  position: relative;
  border-bottom-right-radius: 5px;
  animation: breathing 5s infinite;
  filter: drop-shadow(4px 4px 0 rgba(255, 255, 255, 0.4));
}

.heart:before,
.heart:after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  position: absolute;
}

.heart:before {
  top: -50%;
  left: 0;
}
.heart:after {
  top: 0px;
  left: -50%;
}
