.intro-links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.intro-link:not(:last-child)::after {
  margin: 0 0.5rem;
  content: '❤';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  color: #ccc;
  cursor: default;
  pointer-events: none;
}

.intro-link:not(:last-child) {
  position: relative;
  margin-right: 2rem;
}

.logo-link {
  border-bottom: none;
  margin-right: 0.25rem;
}
