:root {
  --heart-size: 120px;
  --canvas-size: 200px;
  --border: 7px;
  --background: #577d86;
  --background-light: #89acb1;
  --color: #e0ddb7;
  --canvas-size: 400px;
  --stroke-width: 5px;
  --pattern: repeating-linear-gradient(
    -45deg,
    var(--background-light) 0,
    var(--background-light) var(--stroke-width),
    var(--color) var(--stroke-width),
    var(--color) calc(2 * var(--stroke-width))
  );
}
.gallery {
  background: var(--background-light);
  box-shadow: inset var(--background) 0 0 100px 20px,
    var(--background) 0 12px 12px -10px;
  width: var(--canvas-size);
  height: calc(var(--canvas-size) * 0.7);
  margin: 40px auto;
  display: flex;
  align-items: center;
}
.sunglass-case {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  background: var(--color);
  background-image: var(--pattern);
  width: var(--heart-size);
  height: var(--heart-size);
  position: relative;
  border-radius: 50%;
  border: var(--stroke-width) solid var(--color);
}
.heart:first-child {
  margin-right: 20px;
  box-shadow: var(--background) 4px 4px 4px -4px;
}
.heart:first-child::after {
  content: "";
  position: absolute;
}
.heart:last-child {
  transform: rotate(90deg);
  box-shadow: var(--background) 4px -4px 4px -4px;
}
